.u {
    // {{u-bgimg}}
    &-bgimg {
        @include m-bgimg-with-ratio(16 9);
    }
    // {{u-border-0}}
    &-border-0 {
        border: 0;
    }
    
    // {{u-w-100p}}
    &-w-100p{
        width: 100%;
    }
	
	// {{u-list-unstyled}}
    &-list-unstyled{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            display: block;
        }
    }

    // {{u-full-width-absolute}}
    &-full-width-absolute {
        position: absolute 0;
        width: 100%;
    }

    @each $c,$hex in $colors{
        // Background color
        &-bgc-#{$c} {
            background-color: $hex;
        }
        // Color
        &-c-#{$c} {
            background-color: $hex;
        }
        // Border color
        &-bdc-#{$c} {
            border-color: $hex;
        }
    }
    // Gutter Bottom
    &-gb{
        &:last-child{
            margin-bottom: 0;
        }
        &--xs{
            @include m-bp(xs){
                margin-bottom: $grid-gutter-width;
            }
        }
        &--sm{
            @include m-bp(sm){
                margin-bottom: $grid-gutter-width;
            }
        }
    }

    // Background color
    &-bgc {
        &-t {
            background-color: transparent;
        }
    }
   
    // Overflow
    &-ov {
        &-h {
            overflow: hidden;
        }
        &-a {
            overflow: auto;
        }
    }
    // Display
    &-d {
        &-tb {
            display: table;
            &--fixed {
                width: 100%;
                table-layout: fixed;
            }
        }
        &-tc {
            display: table-cell;
        }
        &-b {
            display: block;
        }
        &-ib {
            display: inline-block;
        }
    }
    // Vertical Align
    &-va {
        &-t {
            vertical-align: top;
        }
        &-m {
            vertical-align: middle;
        }
        &-b {
            vertical-align: bottom;
        }
    }

    &-fl{
        &-l{
            float: left;
        }

        &-r{
            float: right;
        }
    }
}
