extends _layouts/global.pug

block content
	.row
		.columns.small-12
			p This is content
	.row    
		.columns.medium-6
			+bgimgurl('http://lorempixel.com/400/300').u-bgimg
				.c-section__content
				p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
		.columns.medium-6
			+bgimgurl('http://lorempixel.com/500/300').u-bgimg
				.c-section__content
				p Hic nisi sint quo fabulas. O duis sed dolore, litteris non culpa. Noster officia incididunt. Consequat relinqueret id laboris, possumus fore aute vidisse sint, iis sunt fidelissimae ita iis culpa ita aliqua. Probant aute iudicem te consequat varias officia ullamco. Cupidatat labore nulla consequat duis aut ab incididunt transferrem sed sint incurreret offendit, de ubi duis magna ipsum. 	Ubi sint minim irure appellat, ita quae quid sunt incurreret non laboris labore 